<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetflixPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>129D78162C3ACB4700ED814B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>129D782C2C3ACB4900ED814B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>129D78362C3ACB4900ED814B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
